@import '../bower_components/bootstrap/less/bootstrap.less';

body {
	background-color: rgba(23, 10, 119,0.7);
	padding-top: 50px;
}

a {
	color: white;
}

.text-white {
	color: white;
}

.a-block {
	display: block;
	border: 2px solid white;
	border-radius: 5px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.a-block:hover {
	color: white;
	cursor: pointer;
}

.a-block:visited {
	color: white;
}


/* WIDGET */

@gray-light: #f4f4f4;

.blue-link {
	color: #3670a3;
}

.blue-link:hover {
	color: #39b3d7;
}

.last-applied {

	padding-bottom: 38px;

	&__list {
		height: 425px;
		overflow: hidden;

		.item {
			margin-top: 20px;
			padding: 10px 0 10px 10px;
			background-color: white;
			border-radius: 4px;
			position: relative;
			border-width: 2px;
			border-left: 6px;
			border-style: solid;
			border-color: transparent;
			border-left-color: #3670a3;
			
			&__img {
				width: 60px;
				height: 60px;
				padding-top: 6px;
			}

			&__title {
				font-size: 18px;
				padding-left: 10px;
			}

			&__text {
				font-size: 16px;
				padding-left: 10px;
			}

			&__triangle {
				position: absolute;
				top: 47%;
				left: 0px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 0 5px 5px;
				border-color: transparent transparent transparent #3670a3;
			}

			&:hover {
				border-color: #39b3d7;

				.item__triangle {
					border-color: transparent transparent transparent #39b3d7;
				}
			}
		}
	}
}

/* WIDGET END */

.card {
	border:1px solid white;
	height: 100px;
	padding-top: 30px;
	margin-top: 20px;
	z-index: -1;
	position: relative;
}

.circle {
		width: 45px;
		height: 45px;
		border:2px solid white;
		-webkit-animation: rotat 1s infinite linear;
  		animation: rotat 1s infinite linear;
  		margin: 0 auto;
		border-radius: 100px;
	}
	
	.coub {
		width: 25px;
		height: 25px;
		border: 2px solid white;
  		margin: -35px auto;
  		-webkit-animation: go 1s infinite linear;
  		animation: go 1s infinite linear;
  		z-index: 2;
  		position: relative;
	}

	.coub-spin {
		width: 25px;
		height: 25px;
		border: 2px solid white;
  		margin: 8px auto;
  		-webkit-animation: go 1s infinite linear;
  		animation: go 1s infinite linear;
  		z-index: 2;
  		position: relative;
	}

	.coub2 {
		width: 30px;
		height: 30px;
		border: 2px solid white;
  		margin: 5px auto; 
  		-webkit-animation: bounce 1s infinite;
  		animation: bounce 1s infinite;
  		z-index: 2;
  		position: relative;
	}

	.triangle-container {
		margin: 10 auto;
		width: 100px;
	}

	.triangle {
		width: 0;
		height: 0;
		border-bottom:25px solid white;
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
  		margin: 0 auto;
  		z-index: 1;
		position: relative;
		float: left;
		margin-left: 5px;
		-webkit-animation: bounce 1s infinite;
  		animation: bounce 1s infinite;
	}

	.circle-spinner {
		width: 35px;
		height: 35px;
		background-color: transparent;
		margin: 6px auto;
		border: 3px solid;
		border-radius: 100%;
		border-right-color: rgba(255,255,255,0.5);
		border-left-color: rgba(255,255,255,0.5);
		border-bottom-color: rgba(255,255,255,0.5);
		border-top-color: white;
		-webkit-animation: rotat 1s infinite linear;
  		animation: rotat 1s infinite linear;
	}

	.circle-container {
		margin: 10 auto;
		width: 60px;
	}

	.circle-dot {
		width: 20px;
		height: 20px;
		border-radius: 100%;
		background-color: white;
		float: left;
		-webkit-animation: bounce 1s infinite;
  		animation: bounce 1s infinite;
	}

	.delay2 {
		 -webkit-animation-delay: 0.2s; /* Chrome, Safari, Opera */
	    animation-delay: 0.2s;
	}	

	.delay3 {
		 -webkit-animation-delay: 0.3s; /* Chrome, Safari, Opera */
	    animation-delay: 0.3s;
	}

	.delay4 {
		 -webkit-animation-delay: 0.4s; /* Chrome, Safari, Opera */
    	animation-delay: 0.4s;
	}




@-webkit-keyframes rotat { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotat { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes go { 100% { -webkit-transform: rotate(-360deg) }}
@keyframes go { 100% { transform: rotate(-360deg); -webkit-transform: rotate(-360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}