body {
    background-color: #FEFEFE;
}

.container-fluid {
    margin-bottom: 300px;
}

@media (max-width: 756px) {
    .container-fluid {
        margin-bottom: 50px;
    }
}

.nav-block {
    font-size: 18px;
    color: black;
    background-color: white;
    border-right: 1px solid #ccc;
    padding: 20px;
}

.glyphicon {
    color: #4fcff9;
}

.nav-block:hover {
    background-color: #ccc;
    cursor: pointer;
    color: white;
}

.box-shadow {
    -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.form-block {
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: 25px;
}

.form-control {
    margin-bottom: 10px;
}

.form-btn {
    display: block;
    background: rgba(222,69,222,1);
    color: white;
    border: none;
    width: 100%;
    padding: 10px 30px;
    border-radius: 4px;
    background: -moz-linear-gradient(top, rgba(222,69,222,1) 0%, rgba(201,87,201,1) 47%, rgba(135,11,135,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,69,222,1)), color-stop(47%, rgba(201,87,201,1)), color-stop(100%, rgba(135,11,135,1)));
    background: -webkit-linear-gradient(top, rgba(222,69,222,1) 0%, rgba(201,87,201,1) 47%, rgba(135,11,135,1) 100%);
    background: -o-linear-gradient(top, rgba(222,69,222,1) 0%, rgba(201,87,201,1) 47%, rgba(135,11,135,1) 100%);
    background: -ms-linear-gradient(top, rgba(222,69,222,1) 0%, rgba(201,87,201,1) 47%, rgba(135,11,135,1) 100%);
    background: linear-gradient(to bottom, rgba(222,69,222,1) 0%, rgba(201,87,201,1) 47%, rgba(135,11,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de45de', endColorstr='#870b87', GradientType=0 );
}

.form-header {
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}