.dashboard {
	background-image: url(../img/header.png);
	background-size: cover;
	background-position: center;
	padding-top: 50px;
	padding-bottom: 150px;
}

.dashboard__heading {
	color: white;
	font-size: 70px;
	padding-top: 180px;
}

.green-blue {
	color: #1abc9c;
}

.dashboard__content {
	color: white;
	font-size: 18px;
}

.dashboard__button {
	border: 1px solid white;
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	color: white;
	background-color: transparent;
	margin-top: 50px;
}

.dashboard__button:hover {
	background-color: #1abc9c;
	border: 1px solid #1abc9c;
}

.dashboard__story {
	font-size: 30px;
	padding-top: 150px;
	color: black;
	
}

.green {
	color: #1abc9c;
}

.dashboard__sentences {
	line-height: 2;
	font-size: 16px;
}

.words {
	font-size: 23px;
	color: #bababa;
	font-style: italic;
	padding-top: 55px;
}

.story__mac {
	padding-top: 50px;
	padding-bottom: 50px;
}

.services{
	background-image: url(../img/mouse.png);
	background-size: cover;
	background-position: center;
	padding-top: 50px;
	padding-bottom: 150px;	
}

.services__heading {
	font-size: 40px;
	color: white;
}

.services__border {
	width: 1px;
	height: 30px;
	border-right: 1px solid white;
	margin-top: 13px;
	margin-left: 15px;
}

.services__heading--small {
	font-size: 18px;
	padding-left: 15px;
	color: white;
	padding-top: 15px;
}

.services__img-container {
	width: 46px;
	height: 46px;
	border: 1px solid #1abc9c;
	padding-top: 4px;
	padding-left: 5px;
	border-radius: 3px;
}

.services__block-heading{
	color: white;
	font-size: 24px;
}

.services__block-content{
	color: white;
	font-size: 14px;
}
.services__img {
	width: 46px;
	height: 46px;
	border: 1px solid #1abc9c;
	padding-top: 4px;
	padding-left: 5px;
	border-radius: 3px;	
}
.services__img2 {
	width: 46px;
	height: 46px;
	border: 1px solid #1abc9c;
	padding-top: 5px;
	padding-left: 8px;
	border-radius: 3px;	
}

.services__img3 {
	width: 46px;
	height: 46px;
	border: 1px solid #1abc9c;
	padding-top: 5px;
	padding-left: 8px;
	border-radius: 3px;	
}

.services__img4 {
	width: 46px;
	height: 46px;
	border: 1px solid #1abc9c;
	padding-top: 5px;
	padding-left: 8px;
	border-radius: 3px;
}

.services__img5 {
	width: 46px;
	height: 46px;
	border: 1px solid #1abc9c;
	padding-top: 5px;
	padding-left: 8px;
	border-radius: 3px;
}

.pad70 {
	padding-top: 70px;
}

.pictures {
	padding-top: 50px;
	padding-bottom: 150px;	
}
/*coment
.form {
	padding-left: 400px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgba(0,0,0,0.7);
}

.form__input {
	width: 400px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 4px;
	color: white;
}
*/

.form {
	background-image: url(../img/block-forms.png);
	background-size: cover;
	background-position: center;
	padding-top: 50px;
	padding-bottom: 150px;
}

.form__heading {
	font-size: 30px;
	color: white;
}

.form__border {
	width: 1px;
	height: 30px;
	border-right: 1px solid white;
	margin-top: 15px;
	margin-left: 15px;
}

.form__p {
	color: white;
	font-size: 14px;
}

.form__image {
	width: 46px;
	height: 46px;
	border: 1px solid #1abc9c;
	border-radius: 3px;	
	padding-left: 6px;
	padding-top: 6px;
}

.form__image--first {
	width: 46px;
	height: 46px;
	border: 1px solid #1abc9c;
	border-radius: 3px;	
	padding-left: 8px;
	padding-top: 3px;
}

.form__block-heading {
	font-size: 24px;
	color: white;
}

.form__block-heading--small {
	font-size: 14px;
	color: white;
}

.form__input {
	display: block;
	width: 100%;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 4px;
	color: white;
	border: 1px solid white;
}

.form__input--big {
	display: block;
	height: 150px;
	width: 100%;
	margin-top: 20px;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 4px;
	color: white;
	border: 1px solid white;
}

.marg20 {
	margin-top: 20px;
}